name: PR

on:
  pull_request:
    types: [opened, reopened, synchronize]

jobs:
  should_build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version:
          - "3.13"
          - "3.14"
    steps:
      - name: Set up Docker buildx
        uses: docker/setup-buildx-action@v3
      - name: Log in to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ github.token }}
      - name: Build image
        uses: docker/build-push-action@v6
        with:
          build-args: |
            GO_VERSION=${{ matrix.python-version }}
          cache-from: type=gha
          platforms: linux/amd64 # GitHub only offers AMD64 codespaces
          pull: true
