name: Weekly Release

# Build a fresh image every week.
on:
  schedule:
    - cron: 0 14 * * 1 # run at 9am eastern US time every Monday
  push:
    branches:
      - main
  workflow_dispatch:

env:
  LATEST_PYTHON_VERSION: "3.14"

jobs:
  build_and_upload_image:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version:
          - "3.13"
          - "3.14"
    steps:
      - name: Set up Docker buildx
        uses: docker/setup-buildx-action@v3
      - name: Log in to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ github.token }}
      - name: Build and Push Image
        if: ${{ matrix.python-version != env.LATEST_PYTHON_VERSION }}
        uses: docker/build-push-action@v6
        with:
          build-args: |
            PYTHON_VERSION=${{ matrix.python-version }}
          platforms: linux/amd64 # GitHub only offers AMD64 codespaces
          pull: true
          push: true
          tags: ghcr.io/${{ github.repository }}:${{ matrix.python-version }}
          cache-from: type=gha
          # mode=max means "cache everything possible". This ensures maximum
          # use of the cache, but will use up GitHub's 10 GB cache size limit
          # faster.
          cache-to: type=gha,mode=max
      - name: Build and Push 'latest' Image
        if: ${{ matrix.python-version == env.LATEST_PYTHON_VERSION }}
        uses: docker/build-push-action@v6
        with:
          build-args: |
            PYTHON_VERSION=${{ matrix.python-version }}
          platforms: linux/amd64 # GitHub only offers AMD64 codespaces
          pull: true
          push: true
          tags: ghcr.io/${{ github.repository }}:${{ matrix.python-version }},ghcr.io/${{ github.repository }}:latest
          cache-from: type=gha
          # mode=max means "cache everything possible". This ensures maximum
          # use of the cache, but will use up GitHub's 10 GB cache size limit
          # faster.
